<!-- templates/movies/update_movie_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Update Movie List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2>Update Movie List</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>
</html>
